<footer>
    
    <ul id="ul_footer">
       <a href="/" id="footer-nav"> <li>Home</li> </a>
       <a href="/users/profile/" id="footer-nav"> <li>Profile</li> </a>
    </ul>
    

     
    &#x24B8; Coderthon. All Right Reserved

</footer>