<h1>Sign In</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Email" requried>
    <input type="password" name="password" placeholder="Password" requried>
    <button type="submit"><p>Sign-In</p></button>
</form>
